executor: slurm
jobs: unlimited

set-resources:
  indexing:
    runtime: 720
    slurm_partition: 12hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    threads: 52
    cpus_per_task: 52
    mem_mb: 500000
  mapping:
    runtime: 1440
    threads: 26
    cpus_per_task: 26
    slurm_partition: 5days
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 250000
  get_coverage:
    runtime: 240
    threads: 13
    cpus_per_task: 13
    slurm_partition: 4hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 125000
  generate_chrome_ctgs:
    runtime: 240
    threads: 13
    cpus_per_task: 13
    slurm_partition: 4hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 125000
  calling:
    runtime: 240
    threads: 26
    cpus_per_task: 26
    slurm_partition: 4hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 250000
  merge_chroms:
    runtime: 240
    threads: 26
    cpus_per_task: 26
    slurm_partition: 4hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 250000
  gembs_extract:
    runtime: 720
    threads: 26
    cpus_per_task: 26
    slurm_partition: 12hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 250000
  extract_signal:
    runtime: 240
    threads: 6
    cpus_per_task: 6
    slurm_partition: 4hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 500000
  get_methylc:
    runtime: 240
    threads: 26
    cpus_per_task: 26
    slurm_partition: 4hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 500000
  make_bedmethyl_pearson_correlation:
    runtime: 720
    threads: 52
    cpus_per_task: 52
    slurm_partition: 12hours
    constraint: cascadelake
    slurm_extra: "--exclude=z[1024,1062] --cpu-freq=High-High:Performance"
    mem_mb: 500000

use-apptainer: True
apptainer-prefix: workflow/rules/envs
software-deployment-method: apptainer
apptainer-args: -B /data

retries: 3
slurm-requeue: False # Prevent jobs from being requeued, otherwise held infinitely
rerun-incomplete: True
keep-going: True
printshellcmds: True
# keep-incomplete: True
